$font-size-base:              0.9rem !default;

$primary: rgb(255, 255,255)  !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: #ea1d25 !default;
$light: rgb(255, 255,255) !default;
$grey:  #888 !default;
$orange: $secondary;

$display1-weight: 500 !default;
$display2-weight: 100 !default;

html.no-js body.td-page div.container-fluid.td-outer div.td-main div.row.flex-xl-nowrap
main.col-12.col-md-9.col-xl-8.pl-md-5 div.td-content div.highlight { 
  background-color: #ffffff;
}

.navbar-nav .nav-link {
    color: rgba(0,0,0,.5) !important;
    text-shadow: 0px 0px 0px white !important;
}

.navbar-bg-onscroll {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    #rebar3-top {
        display: block !important;
    }
}

.nav-shadow {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar-brand {
    color: black !important
}

.fa-chat:before {
    color: black;
    content: "\1F5E8"
}

.asciinema-theme-asciinema .asciinema-terminal {
    color: #cccccc;
    background-color: #121314;
    border-color: #121314;
    border-radius: 8px;
}

.asciinema-theme-asciinema .bg-fg {
    background-color:black !important;
}

#rebar3-search {
    background: rgba(190, 185, 185, 0.3);
}
input[type="search"]::placeholder {
    color:  #9B9595 !important;
}

.td-box--secondary p > a:hover {
    color: #121314 !important;
}

#community a {
    color: #121314 !important;
}

.td-content blockquote.callout-success {
  background: #f3f8f3;
  border-left: 6px solid #50af51;
  padding: 1.33rem;
}

.td-content blockquote.callout-warning {
  background: #fcf8f2;
  border-left: 6px solid #f0ad4e;
  padding: 1.33rem;
}

.td-content blockquote.callout-info {
  background: #e3edf2;
  border-left: 6px solid #5bc0de;
  padding: 1.33rem;
}

.td-content blockquote.callout-danger {
  background: #fdf7f7;
  border-left: 6px solid #d9534f;
  padding: 1.33rem;
}

.callout-title-info {
  display: inline;
  color: #46b8da;
}

.callout-title-warning {
  display: inline;
  color: #eea236;
}

.callout-title-danger {
  display: inline;
  color: #d43f3a;
}

.callout-title-success {
  display: inline;
  color: #489e49;
}
