+++
title = "Rebar3"
linkTitle = "Rebar3"

+++

{{< blocks/cover title="rebar3" image_anchor="top" height="min" color="white" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://s3.amazonaws.com/rebar3/rebar3">
		Download (v3.22.1) <i class="fas fa-cloud-download-alt ml-2 "></i>
	</a>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="/docs/getting-started">
		Getting Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>

	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="secondary" %}}
<strong>What is Rebar3?</strong>

The official build tool for [Erlang](https://erlang.org).
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-wrench" title="Develop" url="/docs/getting-started/" %}}
Write, test, and maintain projects the Erlang way.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-box" title="Package" url="/docs/package_management/publishing-packages/" %}}
Use, build, and publish packages on [Hex](https://hex.pm).
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-running" title="Release and Run" url="/docs/deployment/releases/" %}}
Package software and roll it out in production
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="primary"  >}}
{{% blocks/feature icon="fab fa-slack" title="Join us on Slack" url="" %}}
Join the [community](https://erlef.org/slack-invite/erlanger) on Slack
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/erlang/rebar3" %}}
We do a [Pull Request](https://github.com/erlang/rebar3/pulls) contributions workflow on **GitHub**.

New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-chat" title="Join us on IRC" url="" %}}
For the Slack averse we are on irc.freenode.net channel #rebar
{{% /blocks/feature %}}


{{< /blocks/section >}}
